<details  >
    <summary>边距</summary>
    <div class="item" data-type="margin">
        <label>margin:</label>
        <input type="text" placeholder="↑" value="<%= data.margin.top %>" data-type="top">
        <input type="text" placeholder="→" value="<%= data.margin.right %>"  data-type="right">
        <input type="text" placeholder="↓" value="<%= data.margin.bottom %>" data-type="bottom">
        <input type="text" placeholder="←" value="<%= data.margin.left %>" data-type="left">
    </div>
    <div class="item" data-type="padding">
        <label>padding:</label>
        <input type="text" placeholder="↑" value="<%= data.padding.top %>" data-type="top">
        <input type="text" placeholder="→" value="<%= data.padding.right %>" data-type="right">
        <input type="text" placeholder="↓" value="<%= data.padding.bottom %>" data-type="bottom">
        <input type="text" placeholder="←" value="<%= data.padding.left %>" data-type="left">
    </div>
</details>